    /*from react-burger-menu docs */
  
  /* Position and sizing of burger button */
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    /* left: 36px; */
    right: 36px;
    top: 18px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    /* background: #373a47;82AC9F  */
    background: #1B4965;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #1B4965;
  }

  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    /*left: 36px; */
    right: 36px;
    top: 24px;
    height: 100% ;
    /* do not need this */
    width: 20% !important;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #b8b7ad;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    /* overflow-x: hidden !important; */
    overflow-y: hidden !important;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }

  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
  }
  
  /* Individual item */
.bm-item {
  display: inline-block;
  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #1B4965;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0.9, .9, 0.9, 0.3);
  }